[defaults]
inventory            = inventories/production/hosts.ini
host_key_checking    = False
forks                = 20
timeout              = 60
retry_files_enabled  = False
interpreter_python   = auto_silent

[ssh_connection]
pipelining = True
